@page "/recurring-expenses/{ExpenseId}"
@using System.ComponentModel
<h3>Details of Recurring Expense</h3>

@if (_expense is null)
{
    <p>Loading ...</p>
}
else
{
    <container>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@_expense.Name</h5>
                        <p class="card-text">@_expense.Description</p>
                        <div id="attributes" class="justify-content-between">
                            <div class="row">
                                <div class="col-3">Date</div>
                                <div class="col-7">@_expense.BillingDay</div>
                            </div>
                            <div class="row">
                                <div class="col-3">Total</div>
                                <div class="col-7">@_expense.Total @_expense.Currency</div>
                            </div>
                            <div class="row">
                                <div class="col-3">Recipient</div>
                                <div class="col-7">@_expense.BillingPrincipal</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Payment History</h5>

                        @if (_expense.PaymentHistory.Count == 0)
                        {
                            <p>Nothing to show here!</p>
                        }
                        else
                        {
                            @foreach (var item in _expense.PaymentHistory)
                            {
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Date</h5>
                                        <div id="attributes" class="justify-content-between">
                                            <div class="row">
                                                <div class="col-3">Total</div>
                                                <div class="col-7">@item.Total @_expense.Currency</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </container>
}