@page "/recurring-expenses/{ExpenseId}"
@using Spbs.Ui.Features.Expenses.Models

<h3>Details of Recurring Expense</h3>

@if (_expense is null)
{
    <MudPaper Class="pa-4 mt-4">
        <MudText Typo="Typo.h5">
            <MudSkeleton/>
        </MudText>

        <MudDivider Class="mt-2 mb-4"/>

        <MudGrid>
            <MudItem xs="12">
                <MudSkeleton SkeletonType="SkeletonType.Rectangle"/>
            </MudItem>

            <MudItem xs="6">
                <MudSkeleton/>
            </MudItem>

            <MudItem xs="6">
                <MudSkeleton/>
            </MudItem>

            <MudItem xs="6">
                <MudSkeleton/>
            </MudItem>

            <MudItem xs="6">
                <MudSkeleton/>
            </MudItem>

            <MudItem xs="6">
                <MudSkeleton/>
            </MudItem>

            <MudDivider/>
        </MudGrid>
    </MudPaper>
}
else
{
    <MudPaper Class="pa-4 mt-4">
        <MudText Typo="Typo.h5">
            @_expense.Name
        </MudText>

        <MudDivider Class="mt-2 mb-4"/>

        <MudGrid>
            <MudItem xs="12">
                <MudTextField T="string"
                              ReadOnly="true"
                              Text="@_expense.Description"
                              Lines="4"
                              Label="Description"
                              Variant="Variant.Text"
                              Margin="Margin.Dense">
                </MudTextField>
            </MudItem>

            <MudItem xs="6">
                <MudNumericField T="int"
                                ReadOnly="true"
                                Text="@_expense.BillingDay.ToString()"
                                Label="Billing Day"
                                Variant="Variant.Text"
                                Margin="Margin.Dense">
                </MudNumericField>
            </MudItem>

            <MudItem xs="6">
                <MudNumericField T="double"
                                ReadOnly="true"
                                Text="@_expense.Total.ToString()"
                                Label="Total"
                                Variant="Variant.Text"
                                Margin="Margin.Dense">
                </MudNumericField>
            </MudItem>

            <MudItem xs="6">
                <MudTextField T="string"
                              ReadOnly="true"
                              Text=@(_expense.Total + " " + _expense.Currency)
                              Label="Total"
                              Variant="Variant.Text"
                              Margin="Margin.Dense">
                </MudTextField>
            </MudItem>

            <MudItem xs="6">
                <MudTextField T="string"
                              ReadOnly="true"
                              Text="@_expense.BillingPrincipal"
                              Label="Recipient"
                              Variant="Variant.Text"
                              Margin="Margin.Dense">
                </MudTextField>
            </MudItem>

            <MudItem xs="6">
                <MudTextField T="string"
                              ReadOnly="true"
                              Text="@_expense.BillingType.ToString()"
                              Label="Billing Period"
                              Variant="Variant.Text"
                              Margin="Margin.Dense">
                </MudTextField>
            </MudItem>

            <MudItem xs="6">
                <MudTextField T="string"
                              ReadOnly="true"
                              Text="@_expense.Category"
                              Label="Category"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@ExpenseCategoryUtils.GetMudIcon(_expense.Category)"
                              Variant="Variant.Text"
                              Margin="Margin.Dense">
                </MudTextField>

            </MudItem>
        </MudGrid>
    </MudPaper>

    <MudPaper Elevation="25" Class="mt-4 mb-2">
        <MudToolBar>
            <MudTooltip Delay="600" Text="Add a new item">
                <MudIconButton Icon="@Icons.Material.Filled.Add"
                               OnClick="@(AddExpenseItem)"
                               Color="Color.Primary"/>
            </MudTooltip>

            <MudTooltip Delay="600" Text="@EditButtonTooltip()">
                <MudIconButton Disabled="@(_numSelectedHistoryItems != 1)" OnClick="EditSelectedItem"
                               Icon="@Icons.Material.Filled.Edit"
                               Color="Color.Default"/>
            </MudTooltip>

            <MudTooltip Delay="600" Text="@DeleteButtonTooltip()">
                <MudIconButton Disabled="@(_numSelectedHistoryItems == 0)" OnClick="DeleteExpenseItems"
                               Icon="@Icons.Material.Filled.Delete"
                               Color="Color.Secondary"/>
            </MudTooltip>

            <MudSpacer/>

            <MudButton Color="Color.Secondary"
                       OnClick="CreateExpenseFromRecurring">
                Create Expense
            </MudButton>
            
            <MudButton Icon="@Icons.Material.Filled.Edit"
                       OnClick="@ToggleEditMode"
                       Color="Color.Primary">
                Edit Expense
            </MudButton>
        </MudToolBar>
    </MudPaper>

    <MudDataGrid T="RecurringExpenseHistoryItem"
                 @ref="@_grid"
                 Items="@_expense.PaymentHistory"
                 ReadOnly="false"
                 EditMode="DataGridEditMode.Form"
                 EditTrigger="DataGridEditTrigger.OnRowClick"
                 CommittedItemChanges="OnHistoryItemChanged"
                 SelectedItemsChanged="OnSelectedItemsChanged"
                 Filterable="true"
                 SortMode="@SortMode.Multiple"
                 MultiSelection="true"
                 Groupable="false">
        <ToolBarContent>
            <MudText Typo="Typo.h6">
                Payment History
            </MudText>
        </ToolBarContent>
        <Columns>
            <SelectColumn T="RecurringExpenseHistoryItem"/>
            <PropertyColumn Property="x => x.Total"/>
            <PropertyColumn Property="x => x.Date">
                <EditTemplate>
                    <MudDatePicker @bind-Date="@context.Item.Date"
                                   Required="true"
                                   RequiredError="Please select a date for the expense!"/>
                </EditTemplate>
            </PropertyColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="RecurringExpenseHistoryItem"/>
        </PagerContent>
    </MudDataGrid>

    <EditRecurringExpenseComponent OnUpdateCallback="RecurringExpenseUpdated" GetUserId="() => _userId" @ref="_expenseEditor"/>
}