<div class="container">
    <div class="card text-center">
        <div class="card-header">
            @GetBillingTypeUIText()
        </div>
        <div class="card-body">
            <div id="list">
                @if (_recurringExpenses?.Count > 0)
                {
                    foreach (var recurringExpense in _recurringExpenses)
                    {
                        RecurringExpense expense = recurringExpense;
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@expense.Name</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Billed on the @(expense.BillingDate.Day):th every month</h6>
                                <NavLink class="card-link" href="@expense.GetDetailsUrl()">
                                    Details
                                </NavLink>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="card-footer text-muted">
            @if (_recurringExpenses?.Count > 0)
            {
                <p>You have @_recurringExpenses!.Count @GetBillingTypeUIText()</p>
            }
            else
            {
                <p>No recurring expenses</p>
            }
        </div>
    </div>
</div>