@page "/data/visualize"
@using ChartType = MudBlazor.ChartType

<div id="dashboard" class="container">
    <div class="row">
        <div class="col">

            <div class="row">
                <div class="col">
                    <DateInput TValue="DateTime" @bind-Value="@_filter.FromDate" Placeholder="Enter From Date"/>
                </div>
                <div class="col">
                    <DateInput TValue="DateTime?" @bind-Value="@_filter.ToDate" Placeholder="Enter To Date"/>
                </div>
                <div class="col-2 d-inline-flex flex-row-reverse">
                    <Button
                        @onclick="@RefreshData"
                        Size="BlazorBootstrap.Size.Small"
                        Color="ButtonColor.Primary">
                            <Icon Name="IconName.ArrowClockwise"/>
                    </Button>
                </div>
            </div>

            <div class="row">
                <MudChart @ref="_chart1" ChartType="ChartType.Bar" ChartSeries="@_series" XAxisLabels="@_filteredLabels.ToArray()" />
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>
