@page "/data/visualize"
@using Spbs.Ui.Features.Visualization.Models
@using ApexCharts

<MudPaper>
    <ApexChart TItem="ExpenseVisualizationModel"
               @ref="_chart"
               Options="_chartOptions"
               Title="Expenses">
        <ApexPointSeries TItem="ExpenseVisualizationModel"
                         Items="_expenses"
                         Name="Expenses"
                         XValue="@(e => e.Category)"
                         YAggregate="@(l => l.Sum(e => (decimal)e.Total))"
                         SeriesType="SeriesType.Bar"
                         Color="#3633FF"/>
        </ApexChart>
</MudPaper>


@* *@
@* *@
@* *@
@* *@
@* *@
@* <div id="dashboard" class="container"> *@
@*     <div class="row"> *@
@*         <div class="col"> *@
@* *@
@*             <div class="row"> *@
@*                 <div class="col"> *@
@*                     $1$ <DateInput TValue="DateTime" @bind-Value="@_filter.FromDate" Placeholder="Enter From Date"/> #1# *@
@*                 </div> *@
@*                 <div class="col"> *@
@*                     $1$ <DateInput TValue="DateTime?" @bind-Value="@_filter.ToDate" Placeholder="Enter To Date"/> #1# *@
@*                 </div> *@
@*                 <div class="col-2 d-inline-flex flex-row-reverse"> *@
@*                     <Button *@
@*                         @onclick="@RefreshData" *@
@*                         Size="BlazorBootstrap.Size.Small" *@
@*                         Color="ButtonColor.Primary"> *@
@*                             <Icon Name="IconName.ArrowClockwise"/> *@
@*                     </Button> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             <div class="row"> *@
@*                 $1$ <BarChart @ref="_chart1" Class="mb-4" /> #1# *@
@*                 $1$ <MudChart @ref="_chart1" ChartType="ChartType.Bar" ChartSeries="@_series" XAxisLabels="@_filteredLabels.ToArray()"/> #1# *@
@*             </div> *@
@*         </div> *@
@*         <div class="col"> *@
@* *@
@*         </div> *@
@*     </div> *@
@* </div> *@
