@if (_doShowContent)
{
    <div class="modal fade show d-block" id="new-post-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Expense Editor</h5>
                    <button type="button" class="close" @onclick="@CloseDialog" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <EditForm Model="@_editExpenseItemViewModel"
                              OnValidSubmit="@HandleValidSubmit"
                              OnInvalidSubmit="@HandleInvalidSubmit">

                        <DataAnnotationsValidator/>
                        <ValidationSummary></ValidationSummary>

                        <div class="form-group col-md-10">
                            <label for="expense-item-name">Name</label>
                            <InputText id="expense-item-name"
                                       class="form-control"
                                       @bind-Value="@_editExpenseItemViewModel.Name">
                            </InputText>
                            <small id="expense-name-small" class="form-text text-muted">Choose a descriptive name for you purchase item</small>
                            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => _editExpenseItemViewModel.Name)"/>
                        </div>

                        <div class="form-group col-md-10">
                            <label for="expense-item-quantity">Quantity</label>
                            <InputNumber TValue="int"
                                         id="expense-item-quantity"
                                         class="form-control"
                                         @bind-Value="@_editExpenseItemViewModel.Quantity">
                            </InputNumber>
                            <small id="expense-item-quantity-small" class="form-text text-muted">How many items of the produce were purchased?</small>
                            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => _editExpenseItemViewModel.Quantity)"/>
                        </div>

                        <div class="form-group col-md-10">
                            <label for="expense-item-price">Price</label>
                            <InputNumber TValue="double"
                                         id="expense-item-price"
                                         class="form-control"
                                         @bind-Value="@_editExpenseItemViewModel.Price">
                            </InputNumber>
                            <small id="expense-item-price-small" class="form-text text-muted">What was the item price at the time of the purhcase?</small>
                            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => _editExpenseItemViewModel.Price)"/>
                        </div>

                        <button type="submit" class="btn btn-primary edit-btn">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="@CloseDialog">Close</button>
                    </EditForm>
                </div>


                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
}