@page "/expenses"

<div>
    <div class="row flex-column justify-content-start">
        <span class="col"><h3>Expenses Overview</h3></span> 
        <span class="col">
            <Button @onclick="ToggleExpenseDialog"
                    Size="Size.Small"
                    Color="ButtonColor.Primary">
                New Expense
            </Button>
        </span>
    </div>

    <div class="row py-2">
        <Grid TItem="Expense"
              @ref="_expensesGrid"
              class="table table-hover table-bordered table-striped"
              DataProvider="FetchExpenses"
              AllowPaging="true"
              PageSize="10"
              AllowFiltering="true"
              Responsive="true">
            <GridColumn TItem="Expense" HeaderText="Name" PropertyName="Name">
                <button type="button" class="btn btn-link">
                    <NavLink href="@GetExpenseDetailsUrl(context)">@context.Name</NavLink>
                </button>
            </GridColumn>

            <GridColumn TItem="Expense"
                        HeaderText="Date" 
                        PropertyName="Date" 
                        FilterOperator="FilterOperator.GreaterThanOrEquals" FilterValue="@(DateTime.Now.AddMonths(-1).ToString())">
                @context.Date.ToString()
            </GridColumn>
            <GridColumn TItem="Expense" HeaderText="Total" PropertyName="Total">@context.Total.ToString() @context.Currency</GridColumn>
            <GridColumn TItem="Expense" HeaderText="Category" PropertyName="Category">@context.Category</GridColumn>
            <GridColumn TItem="Expense" HeaderText="Venue" PropertyName="Venue">@context.Venue</GridColumn>
        </Grid>
    </div>
    
    <EditExpenseComponent @ref="_editExpenseComponent" GetUserId="() => _userId" OnUpdateCallback="ExpenseItemAdded"></EditExpenseComponent>
</div>