@page "/expenses/{ExpenseId}"

@if (_expense is null)
{
    <h3>ExpenseDetails</h3>
    <p>Oops, nothing here!</p>
}
else
{
    <div class="container">
        <div class="row">
            <Card>
                <CardHeader>
                    <h3>@_expense.Name</h3>
                </CardHeader>
                <CardBody>
                    <div class="row">
                        <div class="col-3">Description</div>
                        <div class="col-auto">@_expense.Description</div>
                    </div>
                    <div class="row">
                        <div class="col-3">Date:</div>
                        <div class="col-auto">@_expense.Date.ToString("s")</div>
                    </div>
                    <div class="row">
                        <div class="col-3">Venue:</div>
                        <div class="col-auto">@_expense.Venue</div>
                    </div>
                    <div class="row">
                        <div class="col-3">Total:</div>
                        <div class="col-auto">@_expense.Total @_expense.Currency</div>
                    </div>
                    <div class="row">
                        <div class="col-3">Recurring:</div>
                        <div class="col-auto">
                            @if (_expense.Recurring)
                            {
                                <text>Yes</text>
                            }
                            else
                            {
                                <text>No</text>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">Tags:</div>
                        <div class="col-auto">
                            @if (_expense?.Tags is not null)
                            {
                                @foreach (var tag in _expense!.Tags.Split(" "))
                                {
                                    <span class="badge bg-success me-1">@tag</span>
                                }
                            }

                            <span onclick="@AddTagList" class="badge bg-success me-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                </CardBody>
                <CardFooter>
                    <div>
                        <span data-toggle="tooltip" data-placement="top" title="Edit">
                            <Button
                                onclick="@ToggleEditMode"
                                Size="Size.Small"
                                Color="ButtonColor.Primary">
                                <Icon Name="IconName.PencilSquare"/>
                                Edit
                            </Button>
                        </span>

                        <span data-toggle="tooltip" data-placement="top" title="Edit">
                            <Button
                                @onclick="@(() => EditOrCreateExpenseItem(null))"
                                Size="Size.Small"
                                Color="ButtonColor.Primary">
                                <Icon Name="IconName.PlusSquare"/>
                                New Item 
                            </Button>
                        </span>
                    </div>
                </CardFooter>
            </Card>
        </div>

        <div class="row">

            <Grid TItem="ExpenseItem"
                  class="table table-hover table-bordered table-striped"
                  Data="_expense.Items"
                  AllowFiltering="true"
                  Responsive="true">

                <GridColumn TItem="ExpenseItem" HeaderText="Name" PropertyName="Name">
                    <button type="button" class="btn btn-link" @onclick="@(() => EditOrCreateExpenseItem(context))">
                        @context.Name
                    </button>
                </GridColumn>

                <GridColumn TItem="ExpenseItem" HeaderText="Quantity" PropertyName="Quantity">
                    @context.Quantity.ToString()
                </GridColumn>

                <GridColumn TItem="ExpenseItem" HeaderText="Price" PropertyName="Price">
                    @context.Price.ToString()
                </GridColumn>
            </Grid>
        </div>
    </div>
}

<EditExpenseComponent @ref="_editExpenseComponent" GetUserId="() => _userId" OnUpdateCallback="ExpenseUpdated"></EditExpenseComponent>
<EditExpenseItemComponent @ref="_editExpenseItemComponent" OnUpdateCallback="ExpenseItemUpdated"></EditExpenseItemComponent>