@page "/expenses"
@using Spbs.Ui.Features.Expenses
@inherits Spbs.Ui.Components.SelectableListComponent<Expense>

<div>
    <div class="row">
        <h3>Expenses Overview</h3>
    </div>

    <div class="row">
        <div class="card col-12">

            <div class="card-body row">
                <div id="content-buttons" class="col-6">
                    @* New Expense *@
                    <button class="btn btn-outline-primary" onclick="@ToggleExpenseDialog" data-toggle="tooltip" data-placement="top" title="Add New Expense">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>

                    @* Edit Expense *@
                    <button class="btn btn-outline-secondary" onclick="@ToggleExpenseDialog" data-toggle="tooltip" data-placement="top" title="Edit Expense">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </button>
                </div>

                <div id="filter-buttons" class="col-6 d-flex justify-content-end">
                    @* Filter Results *@
                    <button class="btn btn-outline-secondary" onclick="@(() => { _displayFilter = !_displayFilter; })">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                        </svg>
                    </button>
                </div>

            </div>
            @if (_displayFilter)
            {
                <div class="card-footer">
                    <EditForm Model="@_expenseFilter"
                              OnValidSubmit="@ApplyFilter">

                        <div class="row">
                            <div class="col-6">
                                <InputDate id="filter-date" @bind-Value="@_expenseFilter.FromDate"/>
                                <InputCheckbox id="month-only" @bind-Value="@_expenseFilter.FromDateMonthOnly"/>
                                <small id="month-only-small" class="form-text text-muted">Check to filter only by month and year.</small>
                            </div>

                            <div class="d-flex justify-content-end col-6">
                                <button type="submit" class="btn btn-primary edit-btn">Apply</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="@(async () => { _expenseFilter = new(); await FetchExpenses(); })">Clear Filter</button>
                            </div>
                        </div>
                    </EditForm>
                </div>
            }

        </div>
    </div>

    <div class="row">

        @if (_expenses is null || _expenses.Count == 0)
        {
            <p>No expenses to show yet!</p>
        }
        else
        {
            <container>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Venue</th>
                    </tr>
                    </thead>
                    <tbody>

                    @for (int i = 0; i < _expenses.Count; ++i)
                    {
                        Expense e = _expenses[i];
                        int row = i;
                        <tr onclick="@(() => SetSelected(row))" class=@GetRowClass(row)>
                            <td>@i.ToString()</td>
                            <td>
                                <button type="button" class="btn btn-link">
                                    <NavLink href="@GetExpenseDetailsUrl(e)">
                                        @e.Name
                                    </NavLink>
                                </button>
                            </td>
                            <td>@e.Date.ToShortDateString()</td>
                            <td>@e.Venue</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </container>
        }

        <EditExpenseComponent @ref="_editExpenseComponent" GetUserId="() => _cachedUserId" OnUpdateCallback="ExpenseItemAdded"></EditExpenseComponent>

    </div>
</div>