@using Spbs.Main.WebUi.ViewModels
@if (IsVisible)
{
    <div class="modal fade show d-block" id="new-purchase-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">New Purchase</h5>
                    <button type="button" class="close" @onclick="@CloseDialog" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">


                    <EditForm Model="@NewPurchase"
                              OnValidSubmit="@HandleValidSubmit"
                              OnInvalidSubmit="@HandleInvalidSubmit">

                        <DataAnnotationsValidator/>
                        <ValidationSummary></ValidationSummary>

                        <div class="form-group col-md-10">
                            <label for="date">Date</label>
                            <InputDate id="date"
                                       class="form-control"
                                       @bind-Value="@NewPurchase.PurchaseDateTime">
                            </InputDate>
                            <small id="post-content-small" class="form-text text-muted">When did you make the purchase?</small>
                            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => NewPurchase.PurchaseDateTime)"/>
                        </div>

                        <div class="form-group col-md-10">
                            <label for="location">Location</label>
                            <InputText id="location"
                                       class="form-control"
                                       @bind-Value="@NewPurchase.Location">
                            </InputText>
                            <small id="post-content-small" class="form-text text-muted">Where did you buy your stuf?</small>
                            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => NewPurchase.Location)"/>
                        </div>

                        <div class="form-group col-md-10">
                            <label for="description">Description</label>
                            <InputTextArea id="description"
                                           class="form-control"
                                           @bind-Value="@NewPurchase.Description">
                            </InputTextArea>
                            <small id="post-content-small" class="form-text text-muted">Optionally describe or add a comment to the purchase.</small>
                            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => NewPurchase.Description)"/>
                        </div>

                        <button type="submit" class="btn btn-primary edit-btn">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="@CloseDialog">Close</button>
                    </EditForm>

                </div>
                <div class="modal-footer">
                    <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add New Product" Click="@InsertRow" Disabled=@(_purchaseItemToAdd != null) />
                    <RadzenDataGrid @ref="_purchaseItemGrid" AllowFiltering="true" AllowSorting="true" EditMode="DataGridEditMode.Single"
                                    Data="@NewPurchaseItems" TItem="NewPurchaseItemViewModel" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow">
                        <Columns>
                            <RadzenDataGridColumn TItem="NewPurchaseItemViewModel" Property="ProductName" Title="Product Name" Width="150px">
                                <EditTemplate Context="purchaseItem">
                                    <RadzenTextBox @bind-Value="purchaseItem.ProductName" Style="width:100%; display: block" Name="ProductName"/>
                                    <RadzenRequiredValidator Text="The product name is required" Component="ProductName" Popup="true"/>
                                </EditTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="NewPurchaseItemViewModel" Property="Price" Title="Price" Width="150px">
                                <EditTemplate Context="purchaseItem">
                                    <RadzenNumeric TValue="decimal" @bind-Value="purchaseItem.Price" RadzenTextBox Style="width:100%; display: block" Name="Price"/>
                                    <RadzenRequiredValidator Text="Please provide a price" Component="Price" Popup="true" />
                                    <RadzenNumericRangeValidator Min="0m" Text="Please provide a price that is not negative." Component="Price" Popup="true" />
                                </EditTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="NewPurchaseItemViewModel" Property="Description" Title="Description" Width="250px">
                                <EditTemplate Context="purchaseItem">
                                    <RadzenTextBox @bind-Value="purchaseItem.Description" Style="width:100%; display: block"/>
                                </EditTemplate>
                            </RadzenDataGridColumn>


                            <RadzenDataGridColumn TItem="NewPurchaseItemViewModel" Context="purchaseItem" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px">
                                <EditTemplate Context="purchaseItem">
                                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => SaveRow(purchaseItem))">
                                    </RadzenButton>
                                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@((args) => CancelEdit(purchaseItem))">
                                    </RadzenButton>
                                </EditTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="NewPurchaseItemViewModel" Context="order" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="60px">
                                <Template Context="purchaseItem">
                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" Click="@(args => DeleteRow(purchaseItem))" @onclick:stopPropagation="true">
                                    </RadzenButton>
                                </Template>
                                <EditTemplate Context="purchaseItem">
                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" Click="@(args => DeleteRow(purchaseItem))">
                                    </RadzenButton>
                                </EditTemplate>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </div>
            </div>
        </div>
    </div>
}