@page "/purchases"
@using Spbs.Main.Core.Models

<h1>Purchases</h1>

<div class="container">
    <div class="row">
        <div class="col col-8">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" @onclick="ToggleAddPurchaseComponent" >Add</button>
                <button type="button" class="btn btn-primary">Edit</button>
            </div>
        </div>
        <div class="col col-md-4">
            <!--SfDateRangePicker TValue="DateTime?" StartDate="@StartDate" EndDate="@EndDate" Placeholder="Choose a range" ShowClearButton="true">
                <DateRangePickerEvents TValue="DateTime?" ValueChange="ValueChangeHandler"></DateRangePickerEvents>
            </!--SfDateRangePicker-->
        </div>
    </div>
    <div class="row">
        <div class="control-section">
            <div class="content-wrapper">
                
                <table>
                    <tr>
                        <th>
                            Description
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Date
                        </th>
                    </tr>
                    @foreach (var purchase in _purchases)
                    {
                        <tr>
                            <td>@purchase.Description</td>
                            <td>@purchase.Location</td>
                            <td>@purchase.PurchaseDateTime.ToString()</td>
                        </tr>
                    }
                    
                </table>
            </div>
        </div>
    </div>
</div>

<AddPurchaseDialog @ref="_addPurchaseComponent" />
