<div>
    @if (_notificationService.HasToasts)
    {
        int id = 0;
        <div class="toast-container position-absolute top-0 end-0 p-3">
            @foreach (var toast in _notificationService.GetToasts())
            {
                var t = toast;
                (string backgroundCssClass, string iconCssClass) = BuildToastSettings(toast);
                <div id="toast-@(++id)" class="toast @(toast.IsVIsible ? "show" : "hidden")">
                    <div class="toast-header">
                        <!--img src="..." class="rounded me-2" alt="..."-->
                        <div class="bg-blue rounded me-2">
                            @((MarkupString)GetIconFromOnNotificationLevel(toast.Level))
                        </div>
                        <strong class="me-auto">@toast.Heading</strong>
                        <small>@GetTimeSinceCreatedText(t.Created)</small>
                        <button type="button" @onclick="() => { _notificationService.RemoveToast(t); }" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        @toast.Message
                    </div>
                </div>
            }
        </div>
    }
</div>