@inherits UserSettingsComponentBase

<h3>Locale Settings</h3>

<div class="container">
    <EditForm Model="@_localeInformationVm"
              OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit">

        @* <DataAnnotationsValidator/> *@
        @* <ValidationSummary></ValidationSummary> *@

        <div class="form-group col-md-5">
            <label for="time-zone-picker" class="control-label">Time Zone</label>
            <InputSelect
                TValue="string"
                id="time-zone-picker"
                class="form-control"
                @bind-Value="@_localeInformationVm.TimeZone">

                <option value=0 disabled selected hidden>Time Zone</option>
                @foreach (var timeZone in TimeZoneInfo.GetSystemTimeZones())
                {
                    <option value="@timeZone.Id">@timeZone.DisplayName</option>
                }
            </InputSelect>
            <small id="post-content-small" class="time-zone-picker">All dates will automatically adjust to the time zone you select.</small>
        </div>
        <button type="submit" class="btn btn-primary edit-btn">Save</button>
    </EditForm>
</div>